# Solution-wide ignores
/.vs/
**/bin/
**/obj/
*.user
*.suo
*.dotCover
.vscode/
.idea/

# Rider
.idea/

# Logs
*.log

# Secrets
secrets.json

# Database
*.db
*.sqlite

# Publish
publish/

appsettings.json
appsettings.*.json
